/target
perf.data*
/flamegraph.svg
/support/vscode/out
/support/vscode/node_modules
/support/vscode/.vscode-test/
/support/vscode/*.vsix
/support/vscode/bin
/support/highlightjs/dist/
veryl_testcase.*
/dependencies/
/book/po/messages.pot
/book/po/*~
/testcases/map/dependencies/
/testcases/filelist/dependencies/
/testcases/filelist/src/*.sv
/testcases/filelist/*.f
/testcases/filelist/Veryl.lock
/crates/metadata/std/
/crates/std/veryl/*.f
/crates/std/veryl/target/
