[submodule "support/vim"]
	path = support/vim
	url = https://github.com/veryl-lang/veryl.vim
[submodule "doc"]
	path = doc
	url = https://github.com/veryl-lang/doc
[submodule "std"]
	path = std
	url = https://github.com/veryl-lang/std
