/target
perf.data*
/flamegraph.svg
/support/vscode/out
/support/vscode/node_modules
/support/vscode/.vscode-test/
/support/vscode/*.vsix
/support/vscode/bin
/support/highlightjs/dist/
veryl_testcase.*
/dependencies/
/book/po/messages.pot
/book/po/*~
/testcases/working/
/testcases/map/dependencies/
/testcases/filelist/dependencies/
/testcases/filelist/src/*.sv
/testcases/filelist/*.f
/testcases/filelist/Veryl.lock
/testcases/error/dependencies/
/crates/metadata/std/
/crates/std/veryl/*.f
/crates/std/veryl/target/
.build/
/crates/simulator/compare/csrc/
/crates/simulator/compare/obj_dir/
/crates/simulator/compare/simv.daidir/
/crates/simulator/compare/*.log
/crates/simulator/compare/simv
/crates/simulator/compare/a.out
/crates/simulator/compare/ucli.key
/crates/simulator/compare/xvlog.*
/crates/simulator/compare/xelab.*
/crates/simulator/compare/xsim*
/crates/cosim/sv/csrc/
/crates/cosim/sv/obj_dir/
/crates/cosim/sv/simv.daidir/
/crates/cosim/sv/*.log
/crates/cosim/sv/simv
/crates/cosim/sv/a.out
/crates/cosim/sv/ucli.key
/crates/cosim/sv/xvlog.*
/crates/cosim/sv/xelab.*
/crates/cosim/sv/xsim*
/crates/cosim/sv/vc_hdrs.h
