[submodule "support/vim"]
	path = support/vim
	url = https://github.com/veryl-lang/veryl.vim
[submodule "doc"]
	path = doc
	url = https://github.com/veryl-lang/doc
[submodule "std"]
	path = crates/metadata/std
	url = https://github.com/veryl-lang/std
[submodule "support/sourcemap-resolver"]
	path = support/sourcemap-resolver
	url = https://github.com/veryl-lang/sourcemap-resolver
