[workspace]
members = [
    "crates/analyzer",
    "crates/emitter",
    "crates/formatter",
    "crates/languageserver",
    "crates/mdbook",
    "crates/metadata",
    "crates/parser",
    "crates/tests",
    "crates/veryl",
    "crates/wasm",
]
exclude = [
#    "crates/wasm",
]

[workspace.package]
authors     = ["dalance@gmail.com"]
repository  = "https://github.com/dalance/veryl"
keywords    = ["parser", "verilog", "systemverilog"]
categories  = ["parsing"]
license     = "MIT OR Apache-2.0"
readme      = "README.md"
description = "A modern hardware description language"

[workspace.dependencies]
anyhow     = "1.0"
clap       = {version = "4.1.2", features = ["derive"]}
log        = "0.4.17"
miette     = {version = "5.5", features = ["fancy"]}
regex      = "1.7.1"
semver     = {version = "1.0", features = ["serde"]}
serde      = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror  = "1.0"
url        = {version = "2.3", features = ["serde"]}

[workspace.metadata.release]
tag = false

[profile.dev.build-override]
opt-level = 3

[profile.release.build-override]
opt-level = 3

[profile.release]
# Workaround for long time compilation
# https://github.com/rust-lang/rust/issues/106211
codegen-units = 1
# for wasm-pack
opt-level = "z"
